@import "../../style/vars.scss";

.aside.load{
  top: -100%;
}
.aside{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 75%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 175px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid black;
  background: $colorThird;
  transition: top 0.8s ease;
  &__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__icon{
    font-size: 1.5rem;
  }
  &__link{
    margin: 0 5px;
  }
  &__link:hover{
    color: $colorSecond;
  }
}
