@import "../../style/vars.scss";

.contact {
  color: white;


  &-content {
    margin-top: 25px;
    grid-area:  2 / 2 / 3 / 3;
    &__list{
      margin-bottom: 35px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &__item {
      padding: 2%;
      text-align: center;
    }
    &__text{
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &-form {
    grid-area:  2 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    &--name{
      grid-area: 1 / 1 / 2 / 2;
      margin-right: 10px;
      align-self: center;
    }
    &--mail{
      grid-area: 2 / 1 / 3 / 2;
      margin-right: 10px;
      align-self: center;
    }
    &--textarea{
      height: 100%;
      margin-left: 20px;
      grid-area: 1 / 2 / 3 / 3;
      align-self: flex-start;
    }
  }
}