@import "vars";

// Floating arrow (first screen)
@keyframes floating {
  from {
    bottom: 30px;
  }

  to {
    bottom: 0;
  }
}

// Decor Faq
@keyframes shadow {
  from {
    box-shadow: 0 0 25px 9px $colorPrimary;
  }
  25%{
    box-shadow: 0 0 35px 7px $colorPrimary;
  }
  50%{
    box-shadow: 0 0 45px 7px $colorPrimary;
  }
  75%{
    box-shadow: 0 0 35px 7px $colorPrimary;
  }
  to {
    box-shadow: 0 0 25px 9px $colorPrimary;
  }
}

//step-animate

// first
@keyframes firstAppear {
  from {
    max-width: 0;
    max-height: 0;
    border-radius: 2%;
  }
  to {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
  }
}

//second
@keyframes secondAppearHor {
  from {
    width: 0;
  }
  50% {
    transform: rotate(50deg);
  }
  65%{
    transform: rotate(57deg);
  }
  to {
    width: 194px;
  }
}

@keyframes secondAppearVert {
  from {
    height: 0;
  }
  50% {
    transform: rotate(50deg);
  }
  65%{
    transform: rotate(57deg);
  }
  to {
    height: 194px;
  }
}

// third
@keyframes thirdAppear {
  from {
    border-right: 0 solid #FFFFCC;
    border-top: 0 solid #FFFFCC;
  }
  10%{
    border-right: 10px solid #FFCC66;
    border-top: 10px solid #FFCC66;
  }
  20%{
    border-right: 20px solid #FF9900;
    border-top: 20px solid #FF9900;
  }
  30%{
    border-right: 30px solid #FFCC99;
    border-top: 30px solid #FFCC99;
  }
  40%{
    border-right: 40px solid #FF6633;
    border-top: 40px solid #FF6633;
  }
  50% {
    border-right: 50px solid #FFCCCC;
    border-top: 50px solid #FFCCCC;
  }
  60% {
    border-right: 60px solid #CC6600;
    border-top: 60px solid #CC6600;
  }
  90%{
    border-right: 90px solid $colorPrimary;
    border-top: 90px solid $colorPrimary;
  }
  to {
    border-right: 100px solid $colorPrimary;
    border-top: 100px solid $colorPrimary;
  }
}

@keyframes thirdAppearNext {
  from {
    border-right: 0 solid #CCCC00;
    border-top: 0 solid #CCCC00;
  }
  5% {
    border-right: 5px solid #CC3399;
    border-top: 5px solid #CC3399;
  }
  15%{
    border-right: 15px solid #FFCC66;
    border-top: 15px solid #FFCC66;
  }
  20%{
    border-right: 20px solid #FF9900;
    border-top: 20px solid #FF9900;
  }
  30%{
    border-right: 30px solid #FFCC99;
    border-top: 30px solid #FFCC99;
  }
  40%{
    border-right: 40px solid #FF6633;
    border-top: 40px solid #FF6633;
  }
  50% {
    border-right: 50px solid #FFCCCC;
    border-top: 50px solid #FFCCCC;
  }
  60% {
    border-right: 60px solid #CC6600;
    border-top: 60px solid #CC6600;
  }
  80%{
    border-right: 80px solid #00FF33;
    border-top: 80px solid #00FF33;
  }
  90%{
    border-right: 90px solid #FF9966;
    border-top: 90px solid #FF9966;
  }
  to {
    border-right: 100px solid $colorPrimary;
    border-top: 100px solid $colorPrimary;
  }
}

// fourth

@keyframes fourthAppear {
  from {
    background: linear-gradient(90deg, rgba(68,171,60,0.9472163865546218) 18%, rgba(213,170,48,1) 45%, rgba(197,207,74,1) 76%);
  }
  15%{
    background: radial-gradient(circle, rgba(238,174,202,1) 26%, rgba(148,187,233,1) 67%);
  }
  30%{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }
  50% {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
  70%{
    background: linear-gradient(90deg, rgba(131,58,180,1) 8%, rgba(253,29,29,1) 36%, rgba(252,176,69,1) 70%);
  }
  90%{
    background: linear-gradient(90deg, rgba(163,24,24,0.9472163865546218) 0%, rgba(213,170,48,1) 30%, rgba(212,213,59,1) 100%);
  }
  to {
    background: linear-gradient(90deg, rgba(163,24,24,0.9472163865546218) 0%, rgba(213,170,48,1) 30%, rgba(212,213,59,1) 100%);
  }
}

// rotateCog


@keyframes rotateCog {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverseCog {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes growLine {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes growSubLine {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes opacityTriangle {
  from {
    opacity: 0;
  }
  50%{
    opacity: 1;
    transform: translate(-10%, -10%);
  }
  to {
    opacity: 0;
  }
}

@keyframes portfolioFilterAnimate {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}