/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*/

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-SemiBold.otf) format('truetype');
    font-display: swap;
}
