@import "fonts.css";
@import "vars.scss";
@import "mixins.scss";
@import "animate.scss";
@import "~normalize.css";

html {
  font-size: 1.5rem;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
  outline-color: $colorPrimary;
  @if ($colorPrimary) {
    opacity: .99;
  }
}

b {
  color: $colorPrimary;
}

body {
  font-family: 'Montserrat', 'Times New Roman', sans-serif;
  scroll-behavior: smooth;
  position: relative;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: inherit;
}

ul, li, p, h2, h3, h4, figure {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

p {
  @if ($colorSecond) {
    opacity: 0.9;
  } @else {
    opacity: 1;
  }
  line-height: 1.8;
  text-align: justify;
}

li {
  list-style: none;
  @if ($colorSecond) {
    opacity: 0.9;
  } @else {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  height: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

body::-webkit-scrollbar-track:hover {
  border-left: solid 1px #aaa;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: orange;
}

.containerMain {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  grid-template-columns: 75px 1fr;
}

.section {
  position: relative;
  margin-top: 150px;
  margin-bottom: 150px;
  /*animation: shadow 2s infinite linear;*/
}

.main{
  grid-area: 1 / 2 / 2 / 3;
}

.triangle {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.p1 {
  left: 30%;
  top: 20%;
  transform: rotate(25deg);
  animation: opacityTriangle steps(55, end) infinite 8s normal;
}

.p2 {
  left: 70%;
  top: 10%;
  animation: opacityTriangle steps(35, end) infinite 3s normal;
}

.p3 {
  left: 10%;
  top: 15%;
  transform: rotate(-30deg);
  animation: opacityTriangle steps(50, end) infinite 9s normal;
}

.p4 {
  left: 10%;
  top: 45%;
  transform: rotate(-5deg);
  animation: opacityTriangle steps(45, end) infinite 8s normal;
}

.p5 {
  left: 90%;
  top: 55%;
  transform: rotate(-12deg);
  animation: opacityTriangle steps(40, end) infinite 5s normal;
}

.p6 {
  left: 80%;
  top: 85%;
  transform: rotate(11deg);
  animation: opacityTriangle steps(35, end) infinite 6s normal;
}

.p7 {
  left: 22%;
  top: 70%;
  transform: rotate(23deg);
  animation: opacityTriangle steps(34, end) infinite 4s normal;
}

//@import "media";