@import "vars";
@import "animate";
// Preloader

@mixin anim() {
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%, 100% {
      opacity: 0;
    }
  }
}

// title-name Decor
@mixin decorTitle(){
  position: absolute;
  content: "";
  bottom: -20px;
  height: 2px;
  width: 190px;
  background-color: $colorPrimary;
}

// контроль контейнера контента

// Кнопка рыжая
@mixin primaryBtn(){
  padding: 10px;
  text-align: center;
  background-color: $colorPrimary;
  color: white;
  border: 1px solid $colorPrimary;
  border-radius: 10px;
  transition: all 0.5s ease-in;
  animation: shadow 2s infinite linear;
  cursor: pointer;
}

// ширина инпутов
@mixin modalInput(){
  width: 250px;
  padding: 3px;
}

// выделение текстов
@mixin defaultStrong(){
  color: $colorPrimary;
}

// Отступ между элементами внутри секции
@mixin defaultSpace() {
  margin-top: 60px;
  padding: 0 15px;
  color: white;
}

@mixin defaultOverlay(){
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

@mixin defaultModal(){
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin defaultParallax(){
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}