// mainColors on content

$colorPrimary: orange;
$colorSecond: white;
$colorThird: #F2932E;
$colorBlack: #19191A;


// Standard animation

$transitionStandard: all 0.5s ease-in;

// Transition animate
$transitionColor: color 0.3s ease-in;
